@page "/"
@namespace QuizGameBlazor.Pages

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BlazorApp1</title>
    <base href="~/" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <link href="css/site.css" rel="stylesheet" />
    <link href="_content/Blazored.Typeahead/blazored-typeahead.css" rel="stylesheet" />
    <link href="_content/Blazorise/blazorise.css" rel="stylesheet" />
    <link href="_content/Blazorise.Bootstrap/blazorise.bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="lib/tagsinput/tagsinput.css" />

</head>
<body>
    <app>
        <component type="typeof(App)" render-mode="ServerPrerendered" />
    </app>

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>

    <script src="_framework/blazor.server.js"></script>
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="_content/Blazored.Typeahead/blazored-typeahead.js"></script>
    <script src="_content/Blazorise/blazorise.js"></script>
    <script src="_content/Blazorise.Bootstrap/blazorise.bootstrap.js"></script>
    <script src="~/lib/tagsinput/tagsinput.js"></script>
    <script src="~/lib/typeahead.js/typeahead.jquery.js"></script>
    <script>
        function ShowModal(modalId) {
            $('#' + modalId).modal('show');
        }

        function CloseModal(modalId) {
            $('#' + modalId).modal('hide');
        }

        function InitTagsInput() {
            $('input[data-role=tagsinput]').tagsinput();
        };

        function GetCategoryValue() {
            return $('input[data-role=tagsinput]').tagsinput('items');
        };

        $(document).keypress(
            function (event) {
                if (event.which == '13') {
                    event.preventDefault();
                }
            });

        function PopulateCategories(cats) {
            categories = cats;
        }

        var categories = [];

        var substringMatcher = function (strs) {
            return function findMatches(q, cb) {
                var matches, substringRegex;

                // an array that will be populated with substring matches
                matches = [];

                // regex used to determine if a string contains the substring `q`
                substrRegex = new RegExp(q, 'i');

                // iterate through the pool of strings and for any string that
                // contains the substring `q`, add it to the `matches` array
                $.each(strs,
                    function (i, str) {
                        if (substrRegex.test(str)) {
                            matches.push(str);
                        }
                    });

                cb(matches);
            };
        };
        $('.typeahead').typeahead({
            hint: true,
            highlight: true,
            minLength: 1

        }, {
            name: 'categories',
            source: substringMatcher(categories)
        });
    </script>
</body>
</html>
